header{
    background-color: #3023CB;
    color: white;
}

.cabecalho-imagem{
    width: 10%;
    height: 10%;
}

.cabecalho{
    background-color: #3023CB;
    color: white;
    display: flex;
    justify-content: space-around;
}

.lista-item{
    display: inline-block;
}